
@import "defaults";
@import "ember-bootstrap/bootstrap";
@import "text";
@import "index";
@import "account";

main{
    min-height:100vh;
    padding-top: 1vh;
    background-color: $light-blue;
}


