

main{
  background-color:$light-blue;
  border-radius:0px !important;
  border-bottom:1px solid $light-gray !important;


  .main__inner--index{
      max-width: 1000px;
      width:90%;
      padding-top:20vh !important;
      @include centerEverything;
  }

  #headerText{
    font-size:24px;
    width:100%;
    font-weight:400;
  }

  #seeAccountDetails{
    max-width:200px;
    @include centerEverything;
    background-color: #07a2cc;
    color:$white;
    height:40px;
    font-size:16px;
    line-height:40px;
    margin-top:30px;
    padding:0px 10px;
    border-radius:5px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.12), inset 0 -1px 0 rgba(0,0,0,0.08);
  }

  #enterAccount{
    @include centerEverything;
    height:50px;
    margin-top:20px;
    border-radius: 3px;
    border:1px solid $gray;
    width:95%;
    max-width:550px;
    font-size:14px;
    font-weight:100;
    padding:0px 20px;
    color:$black;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
    letter-spacing:0.03em;
    font-weight:100;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-style: italic;
    letter-spacing:0.03em;
    font-weight:100;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-style: italic;
    letter-spacing:0.03em;
    font-weight:100;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-style: italic;
    letter-spacing:0.03em;
    font-weight:100;
  }

  aside{
    @include centerEverything;
    margin-top:30px;
    line-height:1.8;
  }

  hr{
    width:80%;
    @include centerEverything;
    margin-bottom:20px;
    margin-top:20px;
  }

  h6{
    font-weight:100;
    font-size:10px;
  }
}

  