nav{
    background-color:$white;
    border-radius:0px !important;
    height:70px;
    border-bottom: 3px solid $gray !important;

    .navbar__inner{
        max-width: 1100px;
    }
  
    a{
      color:#585858;
  
      &:hover{
        background-color:transparent !important;
        color: #585858;
        text-decoration: none;
      }
  
      &:active{
        background-color:transparent !important;
        color: #585858;
        text-decoration: none;
      }
  
      &:focus{
        background-color:transparent !important;
        color: #585858;
        text-decoration: none;
      }
  
      ul{
        padding:0px;
      }
    }
  
    #main-navbar{
      border:0px solid transparent !important;
    }
  
    .navbar-toggle{
      border:1px solid #585858;
  
      .icon-bar{
        z-index:1000;
        background-color:#585858;
      }
    }
  
    .nav-item{
      list-style:none;
      line-height:45px;
      padding:5px 20px 0px 20px;
      font-family: $roboto;
      font-weight:700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  
    .navbar-brand{
        color:#585858;
        font-weight:400;
        letter-spacing: 0.03em;
        padding:5px 15px !important;
        font-family: $roboto;
        font-size: 30px;
        line-height:55px !important;
  
        &:hover{
          color:#585858 !important;
        }
    }
  }

  