/*=======================================================
TEXT/FONTS/COLORS
=======================================================*/
$black: #585858;
$light-black: #848484;
$white: #ffffff;
$light-gray: #f9f9f9;
$gray: #a4a4a4;
$light-blue: #D4EEF7;
$blue: #07a2cc;


@mixin wrapOverflow{
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.roboto{  
  font-family: 'Roboto', sans-serif;
}

$roboto:'Roboto', sans-serif;

h1{
  font-weight: 100;
  font-size:40px;
  line-height:32px;
  color:$black;
  display:inline-block;
  letter-spacing: 0.04em;
  @include wrapOverflow;
}

    

h4{
  color:$black;
  display:block;
  border-bottom: 2px solid $light-blue;
  padding-bottom:15px;
  margin-bottom: 20px !important;
  @include wrapOverflow;
}

h5{
  color:$black;
  font-size:13px;
  @include wrapOverflow;
}

p{
  font-weight:100;
  font-size:12px;
  letter-spacing: 0.04em;
  color:$black;
  display:block;
  @include wrapOverflow;
}





