/*=======================================================
TEXT/FONTS
=======================================================*/

.playfair{
    font-family: 'Playfair Display', serif !important;
  }
  
$playfair: 'Playfair Display', serif !important;

.roboto{
font-family: 'Roboto', sans-serif;
}

$roboto:'Roboto', sans-serif;

.open-sans{
font-family: 'Open Sans', sans-serif;
}

$open-sans:'Open Sans', sans-serif;
